<a href="https://colab.research.google.com/github/mose364/Hands_on_sql/blob/main/Resources/Blank_SQL_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/Resources/Blank_SQL_Notebook.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Blank SQL Notebook

#### Import Libraries & Database

In [98]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Connecting and switching to connection 'postgresql://postgres:***@localhost:5432/contoso_100k'

In [110]:
%%sql
select orderdate ,(orderkey*10)+linenumber orderlinenumber ,
(quantity*netprice*exchangerate) net_revenue ,
sum(quantity*netprice*exchangerate)over(partition by orderdate) daily_net_revenue,
(quantity*netprice*exchangerate)*100/sum(quantity*netprice*exchangerate)over(partition by orderdate) percent_daily_revenue
from sales
order by orderdate, percent_daily_revenue desc

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

199873 rows affected.

,orderdate,orderlinenumber,net_revenue,daily_net_revenue,percent_daily_revenue
0,2015-01-01,10043,2395.10,11640.80,20.58
1,2015-01-01,10061,1552.32,11640.80,13.34
2,2015-01-01,10022,1302.91,11640.80,11.19
3,2015-01-01,10020,1146.75,11640.80,9.85
4,2015-01-01,10050,975.16,11640.80,8.38
...,...,...,...,...,...
199868,2024-04-20,33980141,12.00,96879.43,0.01
199869,2024-04-20,33980074,9.29,96879.43,0.01
199870,2024-04-20,33980080,8.35,96879.43,0.01
199871,2024-04-20,33980142,8.34,96879.43,0.01
199872,2024-04-20,33980310,6.89,96879.43,0.01

In [100]:
%%sql
select * from sales limit 1

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

1 rows affected.

,orderkey,linenumber,orderdate,deliverydate,customerkey,storekey,productkey,quantity,unitprice,netprice,unitcost,currencycode,exchangerate
0,1000,0,2015-01-01,2015-01-01,947009,400,48,1,112.46,98.97,57.34,GBP,0.64

In [122]:
%%sql
select *,net_revenue*100/daily_net_revenue "daily percentage" from (
select orderdate ,(orderkey*10)+linenumber orderlinenumber ,
(quantity*netprice*exchangerate) net_revenue ,
sum(quantity*netprice*exchangerate)over(partition by orderdate) daily_net_revenue
from sales ) revenue
order by orderdate,"daily percentage" desc

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

199873 rows affected.

,orderdate,orderlinenumber,net_revenue,daily_net_revenue,daily percentage
0,2015-01-01,10043,2395.10,11640.80,20.58
1,2015-01-01,10061,1552.32,11640.80,13.34
2,2015-01-01,10022,1302.91,11640.80,11.19
3,2015-01-01,10020,1146.75,11640.80,9.85
4,2015-01-01,10050,975.16,11640.80,8.38
...,...,...,...,...,...
199868,2024-04-20,33980141,12.00,96879.43,0.01
199869,2024-04-20,33980074,9.29,96879.43,0.01
199870,2024-04-20,33980080,8.35,96879.43,0.01
199871,2024-04-20,33980142,8.34,96879.43,0.01
199872,2024-04-20,33980310,6.89,96879.43,0.01

In [143]:
%%sql
select distinct
customerkey,
extract(Year from min(orderdate)over(partition by customerkey)) "Cohort year" from sales
order by customerkey

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

49487 rows affected.

       customerkey Cohort year
0               15        2021
1              180        2018
2              185        2019
3              243        2016
4              387        2018
...            ...         ...
49482      2099619        2018
49483      2099656        2023
49484      2099697        2022
49485      2099711        2016
49486      2099743        2022

[49487 rows x 2 columns]

In [158]:
%%sql
with cohort as
(select distinct
customerkey,
extract(Year from min(orderdate)over(partition by customerkey)) "Cohort year" from sales
order by customerkey)
select extract(Year from orderdate) Purchase_year,c."Cohort year" ,sum(quantity*netprice*exchangerate) revenue  from sales s
left join cohort c
on s.customerkey=c.customerkey
group by extract(Year from orderdate),c."Cohort year"
order by

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

55 rows affected.

   purchase_year Cohort year     revenue
0           2015        2015  7370979.48
1           2016        2015   392623.48
2           2016        2016  9990990.20
3           2017        2015   479841.31
4           2017        2016   497028.11
5           2017        2017 12244469.63
6           2018        2015  1069850.87
7           2018        2016  1074607.29
8           2018        2017  1407065.13
9           2018        2018 21115924.55
10          2019        2015  1235991.48
11          2019        2016  1565400.72
12          2019        2017  1764716.90
13          2019        2018  3229188.22
14          2019        2019 24022798.65
15          2020        2015   386489.60
16          2020        2016   474087.09
17          2020        2017   625928.03
18          2020        2018  1171126.65
19          2020        2019  1295044.99
20          2020        2020  7265759.44
21          2021        2015   872845.99
22          2021        2016   964417.85
23          2021        2017  1329858.72
24          2021        2018  2201262.39
25          2021        2019  2337594.77
26          2021        2020  1016399.07
27          2021        2021 12635597.87
28          2022        2015  1569787.72
29          2022        2016  2164681.10
30          2022        2017  2428882.80
31          2022        2018  4534295.81
32          2022        2019  4848980.74
33          2022        2020  1891708.40
34          2022        2021  3014082.50
35          2022        2022 24412138.13
36          2023        2015  1157633.91
37          2023        2016  1265242.63
38          2023        2017  1714010.18
39          2023        2018  3271753.92
40          2023        2019  3440099.20
41          2023        2020  1435051.04
42          2023        2021  2242369.63
43          2023        2022  4237220.04
44          2023        2023 14345184.96
45          2024        2015   356186.62
46          2024        2016   364066.76
47          2024        2017   464802.56
48          2024        2018   936833.89
49          2024        2019   751725.53
50          2024        2020   312983.02
51          2024        2021   495686.18
52          2024        2022  1223450.12
53          2024        2023   634143.37
54          2024        2024  2856649.33