<a href="https://colab.research.google.com/github/mose364/Hands_on_sql/blob/main/Resources/Blank_SQL_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/Resources/Blank_SQL_Notebook.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Blank SQL Notebook

#### Import Libraries & Database

In [3]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

In [4]:
%%sql

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

In [5]:
%%sql
SELECT tablename
FROM pg_tables
WHERE schemaname='public';

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

6 rows affected.

          tablename
0  currencyexchange
1          customer
2             sales
3              date
4           product
5             store

In [6]:
%%sql
select * from sales
limit 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

,orderkey,linenumber,orderdate,deliverydate,customerkey,storekey,productkey,quantity,unitprice,netprice,unitcost,currencycode,exchangerate
0,1000,0,2015-01-01,2015-01-01,947009,400,48,1,112.46,98.97,57.34,GBP,0.64
1,1000,1,2015-01-01,2015-01-01,947009,400,460,1,749.75,659.78,382.25,GBP,0.64
2,1001,0,2015-01-01,2015-01-01,1772036,430,1730,2,54.38,54.38,25.00,USD,1.00
3,1002,0,2015-01-01,2015-01-01,1518349,660,955,4,315.04,286.69,144.88,USD,1.00
4,1002,1,2015-01-01,2015-01-01,1518349,660,62,7,135.75,135.75,62.43,USD,1.00
5,1002,2,2015-01-01,2015-01-01,1518349,660,1050,3,499.20,434.30,229.57,USD,1.00
6,1002,3,2015-01-01,2015-01-01,1518349,660,1608,1,65.99,58.73,33.65,USD,1.00
7,1003,0,2015-01-01,2015-01-01,1317097,510,85,3,74.99,74.99,34.48,USD,1.00
8,1004,0,2015-01-01,2015-01-01,254117,80,128,2,114.72,113.57,58.49,CAD,1.16
9,1004,1,2015-01-01,2015-01-01,254117,80,2079,1,499.45,499.45,165.48,CAD,1.16

In [7]:
%%sql
with cohort as (
select customerkey,
extract(Year from orderdate) as purchase_year,
min(orderdate)over(partition by customerkey) Cohort_year from sales
limit 10)
select sum(quantity	*	netprice*	exchangerate) from sales

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

1 rows affected.

           sum
0 206407538.58

In [8]:
%%sql
with cohort as (
select distinct customerkey,
date_part( 'Year', min(orderdate)over(partition by customerkey))cohort_year,
date_part('Year',orderdate) Year_of_purchase
from sales)
select distinct  cohort_year,Year_of_purchase,
count(customerkey)over(partition by cohort_year,Year_of_purchase) from cohort
order by cohort_year,Year_of_purchase

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

55 rows affected.

    cohort_year  year_of_purchase  count
0       2015.00           2015.00   2825
1       2015.00           2016.00    126
2       2015.00           2017.00    149
3       2015.00           2018.00    348
4       2015.00           2019.00    388
5       2015.00           2020.00    171
6       2015.00           2021.00    295
7       2015.00           2022.00    600
8       2015.00           2023.00    499
9       2015.00           2024.00    146
10      2016.00           2016.00   3397
11      2016.00           2017.00    174
12      2016.00           2018.00    374
13      2016.00           2019.00    457
14      2016.00           2020.00    205
15      2016.00           2021.00    336
16      2016.00           2022.00    746
17      2016.00           2023.00    573
18      2016.00           2024.00    183
19      2017.00           2017.00   4068
20      2017.00           2018.00    473
21      2017.00           2019.00    570
22      2017.00           2020.00    251
23      2017.00           2021.00    450
24      2017.00           2022.00    943
25      2017.00           2023.00    738
26      2017.00           2024.00    246
27      2018.00           2018.00   7446
28      2018.00           2019.00   1081
29      2018.00           2020.00    475
30      2018.00           2021.00    779
31      2018.00           2022.00   1644
32      2018.00           2023.00   1407
33      2018.00           2024.00    426
34      2019.00           2019.00   7755
35      2019.00           2020.00    523
36      2019.00           2021.00    873
37      2019.00           2022.00   1700
38      2019.00           2023.00   1439
39      2019.00           2024.00    370
40      2020.00           2020.00   3031
41      2020.00           2021.00    358
42      2020.00           2022.00    694
43      2020.00           2023.00    547
44      2020.00           2024.00    163
45      2021.00           2021.00   4663
46      2021.00           2022.00   1051
47      2021.00           2023.00    889
48      2021.00           2024.00    268
49      2022.00           2022.00   9010
50      2022.00           2023.00   1764
51      2022.00           2024.00    561
52      2023.00           2023.00   5890
53      2023.00           2024.00    332
54      2024.00           2024.00   1402

In [25]:
%%sql
with numer_orders as (
select customerkey ,
quantity*netprice*exchangerate ordervalue,
count(*)over(partition by customerkey) countings	from sales )
select customerkey,countings,
avg(ordervalue)
from numer_orders
group by customerkey,countings

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

49487 rows affected.

       customerkey  countings     avg
0               15          1 2217.41
1              180          3  836.74
2              185          1 1395.52
3              243          1  287.67
4              387          9  517.32
...            ...        ...     ...
49482      2099619          8  838.74
49483      2099656         13  800.36
49484      2099697          3   12.73
49485      2099711          2 3004.34
49486      2099743          3  356.03

[49487 rows x 3 columns]